#header {
  float: left;
  padding: 7px;
  width: 100%;
  z-index: 1;
}

#header img {
  float: left;
  height: 28px;
  width: 28px;
}

#list {
  list-style: none;
  padding: 0;
}

#list li {
  float: left;
  height: 520px;
  width: 100%;
}

.main-content {
  margin-top: 34px;
}

.article {
  background: #ccc;
  height: 480px;
  padding: 2% 3%;
  width: 94%;
}

img {
  border: none;
  display: block;
  height: 450px;
  margin: 0 auto;
  width: 450px;
}

.feature-headline {
  background: #fff;
  bottom: 70px;
  height: 36px;
  margin: 0 auto;
  opacity: 0.6;
  padding: 2% 1%;
  position: relative;
  width:410px;
}

.feature-headline h1 {
  float:left;
  font-size: 20px;
  height: 38px;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  width: 80%;
}

.facebook-btn {
  float:left;
  width: 20%;
}

.facebook-btn img {
  bottom: 17px;
  height: 70px;
  position: relative;
  width: 70px;
}